{% extends "base.html" %}
{% block content %}
  <div class="home-bg">
    <div class="row">
      <div class="col-12 home-bg">
        <br>
        <br>
        <h1 class="display-3"><em>Welcome to Time Out Market</em></h1>
        <a class='btn btn-lg btn-outline-dark home_btn' href="{{ url_for('market') }}"><p class="mt-2" style="color: white;">Get Started</p></a>
      </div>
        <img src="https://mms.businesswire.com/media/20190509005322/en/720742/5/TOMM_positive_version_highres.jpg" class="img-size">
    </div>
  </div>
{% endblock %}
