{% extends "base.html" %}
{% block content %}
	<div class="form-container">
		<div class="form-box">
			<form method="POST" action="" class="form-register">
				{{ form.hidden_tag() }}
				<fieldset class='form-group'>
					<legend class="pb-5 pl-5">Sign Up Today</legend>
					<div class="form-group">
						<!--{{ form.username.label(class='form-control-label') }}-->
						{% if form.username.errors %}
							{{ form.username(class='form-control form-control-lg is-invalid', placeholder='Username') }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class='form-control form-control-lg', placeholder='Username') }}
						{% endif %}
					</div>
					<div class="form-group">
						<!--{{ form.email_address.label(class='form-control-label') }}-->
						{% if form.email_address.errors %}
							{{ form.email_address(class='form-control form-control-lg is-invalid', placeholder='email address') }}
							<div class="invalid-feedback">
								{% for error in form.email_address.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email_address(class='form-control form-control-lg', placeholder='email address') }}
						{% endif %}
					</div>
					<div class="form-group">
						<!--{{ form.password.label(class='form-control-label') }}-->
						{% if form.password.errors %}
							{{ form.password(class='form-control form-control-lg is-invalid', placeholder='password') }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class='form-control form-control-lg', placeholder='password') }}
						{% endif %}
					</div>
					<div class="form-group">
						<!--{{ form.confirm_password.label(class='form-control-label') }}-->
						{% if form.confirm_password.errors %}
							{{ form.confirm_password(class='form-control form-control-lg is-invalid', placeholder='confirm password') }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.confirm_password(class='form-control form-control-lg', placeholder='confirm password') }}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{form.submit(class='btn btn-outline-dark')}}
				</div>
				<div class='border-top pt-2'>
					<small class="text-muted">Already have an account? <a class='ml-2' href="{{ url_for('login') }}">Sign in</a>
					</small>
				</div>
			</form>
		</div>
	</div>

{% endblock %}